header {
    background-color: darkslategray;
    color: white;
    display: flex;
    align-items: center;
    padding: .5rem;
}

header .logo {
    max-width: 50px;
}

header .site-branding {
    flex: 1;
}
header .site-branding .site-title {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0; 
    display: inline;
}
header .user-panel .user-info {
    display: flex;
    align-items: center;
}

header .user-panel .user-img {
    width: 60px;
    border-radius: 50%;
    padding: .5rem;
}

header .user-panel span {
    display: block;
}

header .user-panel .user-logout {
    color: #a5a0a0;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
}

