<header>
    <img class="logo" src="../../../assets/img/logo2.png" />
    <div class="site-branding">
        <h1 class='site-title'>HOURS <span>WORKED</span></h1>
    </div>
    
    <div class="user-panel">
        <div class="user-info" *ngIf="authState">
            <img class="user-img" src="{{ authState.photoURL }}" alt="">
            <div>
                <span class="user-name">{{authState.displayName}}</span>
                <span (click)="logOut()" class="user-logout">Salir</span>
            </div>
        </div>
        <div *ngIf="!authState">
            <button (click)='login()' class="btn btn-sm btn-primary"><i class="far fa-user"></i> Entrar</button>
        </div>
    </div>
</header>