<div class="container-fluid">
    <div class="navigation row text-center">
        <div class="row">
            <div class="col-md-4 text-left">
                <a class="btn btn-outline-info" [routerLink]="['/home']"><i class="far fa-calendar"></i> Calendario</a>
            </div>
        </div>
    </div>
    <div class="chars-wraped">
        <div class="char">
            <h2>Horas Trabajadas esta semana</h2>

            <canvas baseChart [datasets]="barChartDataWeek" [labels]="barChartLabelsWeek" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="charType"></canvas>

        </div>
        <div class="char">
            <h2>Horas Trabajadas este año</h2>

            <canvas baseChart [datasets]="barChartDataYear" [labels]="barChartLabelsYear" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="charType"></canvas>

        </div>


    </div>

</div>