<div class="container-fluid">
    <div class="navigation row text-center">
        <div class="row">
            <div class="col-md-4 text-left">
                <div class="btn-group">
                    <a class="btn btn-outline-info" [routerLink]="['/home']"><i class="far fa-calendar"></i> Calendario</a>

                    <select class="btn btn-danger dropdown-toggle" name="char-type" ([ngModel])="chartTypeSelected.value" (change)="chartChange($event)">
                        <option>Char type</option>
                        <option *ngFor="let type of chartTypes" [value]="type.id">{{type.value}}</option>
                    </select>

                </div>
            </div>
        </div>
    </div>
    <div class="chars-wraped">
        <div class="char">
            <h2>{{ allHoursWeek }} Horas Trabajadas la semana del {{date | date:'d MMM yyyy'}}</h2>
            <canvas baseChart [datasets]="barChartDataWeek" [labels]="barChartLabelsWeek" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="chartType"></canvas>
        </div>
        <div class="char">
            <h2>{{ allHoursMonth }} Horas Trabajadas el mes {{date | date:'MMM yyyy'}}</h2>
            <canvas baseChart [datasets]="barChartDataMonth" [labels]="barChartLabelsMonth" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="chartType"></canvas>
        </div>
        <div class="char">
            <h2>{{ allHoursYear }} Horas Trabajadas el año {{date | date:'yyyy'}}</h2>
            <canvas baseChart [datasets]="barChartDataYear" [labels]="barChartLabelsYear" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="chartType"></canvas>
        </div>
    </div>

</div>